{% load static %}
<header style="height: 58px; background-color: #a0e0f5;">
    <div class="container-fluid">
        <div class="header_row">
          <a href="/" class="logo" style="margin-left: 30px;">
            <img src='{% static "img/kfk.png" %}' alt="" class="kfk_logo">
            <div class="kfk_text">
              Ассоциация<br>Фермеров<br>Казахстана
            </div>

          </a>
          <div class="enter">
            <a href="#" class="enter_link" style="color: black;">Войти</a>
          </div>
        </div>
    </div>
  </header>
  