{% extends "_base.html" %}
{% load static %}
{% block content %}

{% include "header2.html" %}

<article>
    <div class="container">
      <div class="row justify-content-center">
          <div class="col-10 col-md-6">
            <div class="main">
              <div class="main_publish">
                18:56 22.02.2022
              </div>
              <h1 class="main_title">
                Как вырастить дерево лимона в квартире.
              </h1>
              <img src='{% static "img/kfk1.jpg" %}'alt="" class="main_img">
              <p class="main_question">
                Здравствуйте, уважаемые читатели! 
                Сегодня я хочу вам рассказать о том, как я вырастила более 30 кг лимонов в квартире и небольшой теплице и сделала свой бизнес.
              </p>
              <p class="main_answer">
                Живу я с мужем в квартире на окраине города. Особо никогда садоводством не занималась, вела только небольшое дачное хозяйство.
              </p>
              <p class="main_answer">
                И вот недавно на одном сайте я прочитала статью о том, что агротехнологи вывели новый гибридный сорт лимона – быстрорастущий и плодоносящий до 4 раз в год. Данный сорт почти сразу обрел огромную популярность. Он хорошо растет в обычных квартирах и обильно плодоносит уже в первый год после посадки из семян или черенков. Деревья этого сорта легко переносят зимнюю прохладу и прекрасно растут в обычных квартирах. Российские агрономы сразу приметили этот сорт, запатентовали и теперь продают под брендом "Домашний фермер". Кстати, у них есть разные инновационные гибриды деревьев - черешня, гранат, груша, вишня... Но мне захотелось именно лимончиков.
              </p>
              <p class="main_answer"> 
                И я решила завести свои лимонные деревца В статье был указан Официальный сайт агрофирмы "Домашний фермер". Сразу перешла и заказала комплект для выращивания деревьев дома. Предварительно мне позвонила девушка, уточнила все детали заказа, проконсультировала по доставке и продукту. Заказ пришел через 5 дней. В комплекте было все необходимое для выращивания, включая подробную инструкцию, питательную плодородную смесь.
              </p>
              <p class="main_answer">             
                Посадила их в горшочках на балконе. А вот какими стали ростки уже спустя 3 недели
              </p>
              <img src='{% static "img/kfk2.jpg" %}'alt="" class="main_img">
              <p class="main_answer">  
                Деревья росли очень быстро, через два месяца они занимали весь балкон. В этот период они начали активно цвести. От образования завязи до полного созревания плода необходимо около месяца. Каково же было удивление, когда всего через 3 месяца после посадки семян я собрала первый урожай.
              </p>
              <img src='{% static "img/kfk3.jpg" %}'alt="" class="main_img">
              <p class="main_answer"> 
                Деревья были настолько урожайными, что мы не успевали съедать плоды. 
                Пекли сладости - кексы, пироги, варили варенье. Стали раздавать лимоны соседям и знакомым.
              </p>
              <img src='{% static "img/kfk4.jpg" %}'alt="" class="main_img" style="width: 50%; display: block; margin: 0 auto; margin-bottom: 20px;">

              <p class="main_answer">
                Через полгода, когда уже лимоны не помещались на балконе мы перевезли их в теплицу на дачу. Лимоны хорошо перенесли переезд и стали плодоносить еще больше, чем прежде. Не так давно мы с мужем даже стали поставлять плоды лимонов на местные рынки, поэтому было принято решение сделать еще один заказ семян.
              </p>
              <p class="main_answer">
                Теперь все наши деревца вместе взятые дают больше 20 кг плодов в месяц. При правильном уходе деревья плодоносят круглый год, а взрослое деревце может давать до 15 кг плодов в год, и это не шутки. Все благодаря тому, что это не обычные лимоны – а гибридного сорта! Поэтому всем рекомендую, а заказать можно на официальном сайте. Организуйте у себя домашние тропики — посадите комнатные цитрусовые растения. Они и интерьер разнообразят, и порадуют вкусными сочными плодами, а также деревце лимона – прекрасный подарок, порадуйте своих родных.
              </p>

              <p class="main_answer">
                Вы получите идеальные лимонные деревья, приложив при этом минимальные усилия. Выращивайте лимоны не только для красоты, но и для здоровья, ведь плоды лимонов – это кладезь витаминов. Подводя итоги моей статьи я хочу сказать огромное спасибо производителю "Домашний фермер" за то что подарили мне возможность заниматься любимым делом и зарабатывать. Желаю большого урожая своим подписчикам и всем, кто прочел мою статью.
              </p>

              {% include "leadform.html" %}
              
      </div>
  
  
      </div>
  
      {% include "comment.html" %}
    </div>
   
  </article>
  
  
  <div class="col-md-2 sidebar">
    {%for art in list %}
    <div class="sidebar_block">
      <a href="article/{{art.id}}/" class="sidebar_block_link">
        <img src="{{art.img}}" alt="" style="width: 100%;">
        <div>{{art.title}}</div>
      </a>
    </div>
    {% endfor %}
  </div>
  

{% endblock %}