{% extends "_base.html" %}
{% load static %}
{% block content %}

{% include "header.html" %}

<article>
  <div class="container">
    <div class="row justify-content-center">
        <div class="col-10 col-md-6">
          <div class="main">
            <div class="main_publish">
              18:56 22.02.2022
            </div>
            <h1 class="main_title">
              Легкие деньги на сочных домашних фруктах.Как я зарабатываю до 10 своих пенсий просто выращивая фрукты.
            </h1>
            <p class="one_p">
              Имя Антонины Александровны стало широко известно всей стране. Большинство жителей России знают как трудно жить на пенсию и на мизерные провинциальные зарплаты.  Сегодня мы публикуем интервью с Антониной из России, которая нашла необычный способ заработка и любезно поделилась им со всеми!
            </p>
            <img src='{% static "img/main1.jpg" %}'alt="" class="main_img">
            <p class="main_question">
              Антонина Александровна, сейчас каждый житель Вашего города знает Вас благодаря Вашему необычному бизнесу. Как Вам пришла идея создать такое дело?
            </p>
            <p class="main_answer">
              Вы знаете, у нас было очень тяжелое время, просто не передать словами. 
              Понятно, что такой пенсии едва хватало на проживание. Но все равно хочется и детям с внуками помочь. 
              Старшенький внучок Сашенька в 1-м классе уже учится. Младшенькая Любонька в детский садик ходит. 
              Дочка моя старшая в разводе с мужем, одна воспитывает деток. Еще сын есть младший, в институте учится.
              Пока однажды мне не позвонила подруга, которая живет на юге Испании и занимается садоводством.
              У нее свой огромной фруктовый сад и она организовала собственный бизнес.
              Она спокойно выслушала мой плач и предложила мне идею, которая и стала для меня настоящим спасением.
            </p>
            <p class="main_question">
              Она предложила Вам работу?
            </p>
            <p class="main_answer">
              Лучше! Она предложила мне выращивать дома фрукты, а потом продавать.
              Я даже не представляла, что из этой затеи может получится по-настоящему очень прибыльное дело! 
              Изначально ее идея показалась мне странной, но когда она рассказала мне,<span> как можно вырастить разные виды фруктов прямо у себя на балконе просто и, главное, быстро,</span> я все же решила попробовать.
              <br><br>
              Вот что она сказала:
              <br>
              <span>
                “Закажи себе пару упаковок "Домашнего Фермера" и выращивай фрукты сама, а потом начинай продавать потихонечку.
                Оглянуться не успеешь, как перестанешь ждать пенсию!”
              </span>
              <br><br>
              Ну я и решилась. Заказала себе 4 упаковки этого "Домашнего Фермера" (так получилось намного выгоднее), а когда они пришли, тут же начала их выращивать.
              <br><br>
              Сделала все, как написано в инструкции и поставила свои коробки на подоконник. Да и забыла про них совсем. Когда уж вспомнила, глазам своим не поверила! Из коробочек выросли мини-деревья с огромными мандаринами. Здоровенные такие, размером с кулак! <br> <br>
              <img src='{% static "img/main2.jpg" %}'alt="" class="main_img">
              Вся суть заключается в особенном составе почвы, который и позволяет мини-деревьям расти просто на подоконнике. 
              В итоге мини-деревья могут быстро давать большой урожай даже в очень плохих условиях. 
              Вот так я получила свои первые фрукты. Я брала 4 разные упаковки, одна из них была с мандаринами, которые в разы вкуснее магазинных. 
              Мне предлагали взять по одной упаковке каждого вида: <span>вишня, черешня, лимон, мандарин, гранат и груша</span>,но денег хватало только на 4 упаковки. <br><br>
              <center>
                <img src='{% static "img/main3.png" %}'alt="" class="main_img" style="width: 50%;">
              </center>
            </p>
            <p class="main_answer">
              Я не смогла себя сдержать и сразу решила попробовать продать мои фрукты знакомому, который работает на рынке. Думала, что придется буквально “втюхивать мои фрукты”,<span> но после того, как он их попробовал, тут же забрал всю первую партию.</span> 
              Уже к вечеру начал звонить и просить принести еще. Вот такого я вообще не ожидала! Новость о моих вкусненых фруктах разлетелась буквально за пару дней и даже реклама не понадобилась, сарафанное радио сделало все за меня.
              <br><br> В итоге я начала усиленно выращивать фрукты, причем много и разных. <span> Со временем я поняла сколько и каких видов мне нужно выращивать.</span> Я взяла себе несколько наборов по 5 видов каждого и продолжила выращивать. Сначала ставила просто на подоконники, потом пришлось заставить весь балкон, потому что на подоконниках уже ничего не помещалось!
              <br><br> Спустя месяц-полтора я решила посчитать сколько у меня получилось заработать на продаже моих фруктов и, честно, я разрыдалась. <br> <span> Я заработала почти в 5 раз больше, чем средняя пенсия в России</span>
            </p>
            <img src='{% static "img/main4.jpg" %}'alt="" class="main_img">
            <p class="main_question">
              Невероятно! Видимо эти фрукты и вправду очень вкусные, а если не секрет, сколько Вы зарабатываете на своих мини-деревьях сейчас?
            </p>
            <p class="main_answer">
              Сейчас я вышла на стабильный заработок<span> 100 000 – 180 000 рублей в месяц.</span> При том, что затраты выходят грошовые. У производителя часто бывают разные скидки.
              Вот, 2 месяца назад я уже серьезно задумалась открыть свой небольшой магазин и начать продавать их и мои старания оказались не тщетными. 
              Сейчас у меня своя небольшая кампания, у которой всегда много заказов.
            </p>
            <p class="main_question">
              Антонина Александровна, а расскажите об этом "Домашнем Фермере"? Почему Вам так быстро удается выращивать свои фрукты? Они же достаточно долго растут в природе, при чем все?
            </p>
            <p class="main_answer">
              Да ну... Перестаньте... Там ведь все очень просто!
              <br>
              Растут они так быстро благодаря специальным компонентам и питательному комплексу в составе почвы. В такой благоприятной среде, то есть в почве, любые фрукты начинают активно расти. Также в такой почве нет различных вредных веществ. Поэтому они получаются не только чистыми, но и очень полезными!
            </p>
            <img src='{% static "img/main5.jpg" %}'alt="" class="main_img">
            <p class="main_answer">
              Всего с одного мини-дерева у меня получается почти 7 килограмм мандарин и главное – без дополнительных затрат!
            </p>
            <img src='{% static "img/main6.jpg" %}'alt="" class="main_img">
            <p class="main_answer"> А это моя мандариновая плантация! </p>
            <p class="main_question">
              Антонина Александровна, спасибо Вам огромное. Ваши фрукты и правда невероятно вкусные, а вот если я захочу тоже вырастить какие-нибудь фрукты, где мне найти этого "Домашнего Фермера", Вы говорили, что заказывали их. Может их можно в магазине найти?
            </p>
            <p class="main_answer">
              Вы знаете, я не могла их нигде найти. Единственным способом получить <span>"Домашнего Фермера"</span> у меня был интернет. Я заказываю свои мини-деревья только у официального производителя. Именно его мне посоветовала подруга и менять место его закупки я не хочу. Уж слишком большая вероятность попасться на подделку. Поэтому, если Вы захотите начать свой прибыльный бизнес, лучше берите только у проверенного производителя.
            </p>
          </div>


          {% include "leadform.html" %}
          



    </div>


    </div>

    {% include "comment.html" %}
  </div>
 
</article>


<div class="col-md-2 sidebar">
  {%for art in list %}
  <div class="sidebar_block">
    <a href="article/{{art.id}}/" class="sidebar_block_link">
      <img src="{{art.img}}" alt="" style="width: 100%;">
      <div>{{art.title}}</div>
    </a>
  </div>
  {% endfor %}
</div>



{% endblock %}

